<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div id="up">
        <h1 id="title">Random Secrets</h1>
    <div id="ctn">
        <h1><%= sec %></h1> 
    <br>
    </div>
    <h2>-<%= user %></h2>
    
    </div>

</body>
</html>