<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Checker</title>
</head>
<body>
    <h1>Password Checker</h1>
    <form action="/check" method="Post">

        <label for="password">Enter your Password: </label>
        <input type="text" id="password" name="password">

        <input type="submit" value="submit" >

    </form>
</body>
</html>